.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    background-color: #eee;
    height: 40px;
    line-height: 40px;

    a {
        color: #333;
        font-weight: 500;
        &:hover {
            text-decoration: none;
        }
        &.active {
            color: #007bff;
        }
    }
}