<div class="col-md-12">
  <div class="card card-strong hoverable" #test>
    <div class="card-header">{{courseDetail?.summary?.description}}</div>
    <div class="card-body">
      <div class="course-description">
        <div class="course-logo-container"><img class="course-logo-background" [src]='courseDetail?.summary?.iconUrl'>
        </div>
        <h3>lesson list</h3>
        <ul>
          <li *ngFor="let course of courseDetail?.lessons">
            <app-courseItem [item] = "course" ></app-courseItem>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<button (click)="testClick()" >test</button>
<p style="height: 40px;"></p>