<ng-container>
  <h4>{{title}}</h4>
  <ul>
    <li *ngFor="let course of courses" class="col-md-6 col-sm-6">
      <div class="card card-course card-strong" >
        <div class="card-header">
          <div class="card-course-title-wrapper">
            <div class="card-course-title-text">{{course?.description}}</div>
          </div>
        </div>
        <div class="course-card-body">
          <img class="course-logo-background"
            [src]='course?.iconUrl'>
           <div [innerHTML]='course?.longDescription'></div>
          <div class="total-lessons total-lessons-count">{{ course?.totalLessons}} lessons</div>
        </div>
      </div>
    </li>
  </ul>
</ng-container>