h2 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #5f7d8c; 
}
.container-fluid {
    margin-bottom: 50px;
}
.phones-length {
    margin: 10px 0;
}
/* View: Phone list */
.phones {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.phones li {
    margin: 10px -10px;   
    .phone-box {
        padding: 20px;
        height: 100%;
        border: 1px solid #ddd;
    }
}

.thumb {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
}

.phone-box.odd {
    background: #f2f2f2;
}
.input-query {
    margin: 10px 0;
}